[run]
omit =
    # omit anything in a .local directory anywhere
    */__init__.py
    # omit everything in /usr
    #/usr/*
    # omit this single file
    #utils/tirefire.py
    #*/mdcs_api.py
    */*lammps.py
    */*vasp.py
    */master.py
    */run_*.py
    */test*.py
    */error*.py
    */job*.py
    */restapi*.py
    */_xml*.py
    */qe.py
    */super.py
    tequila/*.py
