wheel
qiskit >= 0.24.0
ase>=3.21.1   
numpy>=1.18.5 
scipy>=1.4.1 
matplotlib>=3.0.0 
phonopy>=2.8.1 
coverage>=5.5 
lightgbm>=2.1.0  
flask >=1.1.2
joblib >=1.0.1
networkx >=2.5 
scikit-learn >=0.24.1
pandas >=1.2.3
dgl>=0.6.0.post1
tqdm>=4.59.0 
pennylane>=0.14.1   
codecov >=2.1.11
torch >=1.8.0
keras >=2.4.3
tensorflow>=2.4.0  
pytest >=6.2.2
pytest-cov >=2.11.1
pytest-xdist>=2.2.1
bokeh>=2.3.0