wheel
qiskit==0.30.1
qiskit-aer==0.9.0
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.16.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.3
ase>=3.21.1
numpy>=1.18.5
scipy>=1.4.1
matplotlib>=3.0.0
phonopy>=2.10.0
coverage>=5.5
lightgbm>=2.1.0
flask >=1.1.2
joblib >=1.0.1
networkx >=2.5
scikit-learn >=0.24.1
pandas >=1.2.3
dgl>=0.6.0.post1
tqdm>=4.59.0
pennylane==0.14.1
codecov >=2.1.11
torch >=1.8.0
keras >=2.4.3
tensorflow>=2.4.0
cif2cell==2.0.0a3
PyCifRW==4.4
pytest >=6.2.2
pytest-cov >=2.11.1
pytest-xdist>=2.2.1
bokeh>=2.3.0
opencv-python>=4.5.2.52
scikit-image>=0.16.2
Pillow>=7.1.2
sphinx_rtd_theme>=0.5.1
sphinx>=4.0.3
