absl-py==0.11.0
appdirs==1.4.4
ase==3.21.1
astunparse==1.6.3
attrs==20.3.0
autograd==1.3
bokeh==2.2.3
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cirq==0.9.1
click==7.1.2
cmake==3.18.4.post1
codecov==2.1.11
coverage==5.4
cryptography==3.4.6
cycler==0.10.0
Cython==0.29.22
decorator==4.4.2
deprecation==2.1.0
dgl==0.5.3
dill==0.3.3
dlx==1.0.4
docplex==2.15.194
fastdtw==0.3.4
fastjsonschema==2.15.0
Flask==1.1.2
flatbuffers==1.12
freezegun==0.3.15
future==0.18.2
gast==0.3.3
google-api-core==1.26.0
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.35.0
h5py==2.10.0
idna==2.10
inflection==0.5.1
iniconfig==1.1.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jax==0.2.9
jaxlib==0.1.61
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-core==4.7.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lightgbm==2.1.0
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib>=3.4.0rc1
more-itertools==8.7.0
mpmath==1.2.1
multitasking==0.0.9
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
ntlm-auth==1.5.0
numpy>=1.20.1
oauthlib==3.1.0
openfermion==1.0.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.2
PennyLane==0.14.1
phonopy==2.8.1
Pillow==8.1.0
pluggy==0.13.1
ply==3.11
protobuf==3.12.4
psutil==5.8.0
PubChemPy==1.0.4
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycparser==2.20
pyparsing==3.0.0b2
pyrsistent==0.17.3
pytest==6.2.2
pytest-cov==2.11.1
python-constraint==1.4.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
qiskit==0.23.6
qiskit-aer==0.7.5
qiskit-aqua==0.8.2
qiskit-ibmq-provider==0.11.1
qiskit-ignis==0.5.2
qiskit-terra==0.16.4
Quandl==3.6.0
Qulacs==0.2.0
requests==2.25.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
retworkx==0.7.2
rsa==4.7.1
scikit-learn==0.24.1
scipy>=1.6.1
semantic-version==2.6.0
six==1.15.0
sortedcontainers==2.3.0
spglib==1.16.1
sympy==1.7.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.3.0
tequila @ git+https://github.com/aspuru-guzik-group/tequila.git@402d8eb8c4c632c2d48c75e2f798a46967d28899
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
torch==1.7.1
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.3
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
yfinance==0.1.55
